[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=gns3
Exec=_ntg_launcher %f
Name=Convert to GNS3 project with ntg
Comment=Convert topology netgui to GNS3 with docker
Categories=Education;Network;
MimeType=application/x-nkp;
Keywords=simulator;network;
